apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-java-springboot-erwrebkx
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-java-springboot-erwrebkx:169b1db6ceab69fe2c118e1bb9a32f24f9dbc10c@sha256:fa749de70e8c6a5f8a724cdaef0f37058ac4298383831034ce02a8224022382c
        name: container-image  
